.eventWrap{
    display: flex;
    align-items: center;
    justify-content: center;

    .innerDiv{
        border:1px solid #f1f1f1;
        border-radius: 10px;
        box-sizing: border-box;
        width: 20%;
        margin-right: 20px;
        padding: 20px;
        text-align: center;

        &:last-of-type{
            margin-right: 0;
        }

        >p{
            text-align: left;
            span{
                border:1px solid red;
                box-sizing: border-box;
            }
        }

    img{
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }
    }
};