.hoverStyle1:hover{
    border:3px solid #0675C1;
}
.hoverStyle2:hover{
    border:3px solid #D48121;
}
.hoverStyle3:hover{
    border:3px solid #EBEBEB;
}
.hoverStyle4:hover{
    border:3px solid #059B84;
}