@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.minibanner {
  background-color: #0675c1;
  font-weight: bold;
  font-size: 20px;
}

.minibanner a {
  line-height: 45px;
  color: white;
  text-decoration: none;
}

.logo img {
  max-width: 100%;
  height: auto;
}

#gnbs {
  width: 650px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}

#gnbs a {

  line-height: 100px;
  position: relative;
  font-family: 'GmarketSansMedium' !important;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
  color: #222;
  padding-right: 0;

}

#gnbs a:hover {
  color: #d48121;
}

#gnbs a::after {
  content: "";
  position: absolute;
  background-color: #d48121;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: .3s;
}

#gnbs a:hover::after {
  width: 100%;
}

/* 모바일버전 */

@media screen and (max-width: 768px) {

  #hd {}

  #gnbs {
   
   a{display: none;}
  
  }
}